/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #4a4a4a;
  background-color: #f9f9fc;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #212529;
}

header .logo {
  font-size: 1.8em;
  color: #ffdd57;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #e1e1e1;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffdd57;
}

/* Seções */
.section {
  text-align: center;
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('/assets/media/icegif-1523.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #f5f3d9;
  position: relative;
}

button {
  background-color: #e63946;
  color: #fff;
  padding: 12px 30px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #d62828;
  transform: scale(1.05);
}

/* Estilo da Lista de Mangás em Grid */
/* Estilo da Lista de Mangás em Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Card individual de Mangá */
.manga-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 200px; /* Define uma largura máxima para os cards */
  margin: auto;
}

.manga-item img {
  width: 100%;
  height: 220px; /* Altura padrão para todas as imagens */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.manga-item h3 {
  color: #212529;
  font-size: 1.1em;
  margin: 10px 0;
}

.manga-item p {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.manga-item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Mensagem de Nenhum Mangá Cadastrado */
.no-manga-message {
  text-align: center;
  font-size: 1.2em;
  color: #888;
  padding: 20px;
}


/* Detalhes do Mangá */
.details-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#details-image {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.details-info {
  color: #4a4a4a;
  font-size: 1em;
}

.details-info h2 {
  color: #e63946;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.details-info p {
  margin: 10px 0;
}

/* Cadastro de Mangá */
#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

#register h2 {
  margin-bottom: 20px;
  color: #e63946;
  font-size: 1.6em;
}

#register label {
  align-self: flex-start;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

#register input,
#register select,
#register textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1em;
  transition: border-color 0.3s;
}

#register input:focus,
#register select:focus,
#register textarea:focus {
  border-color: #e63946;
  outline: none;
}

#register button {
  width: 100%;
  background-color: #e63946;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#register button:hover {
  background-color: #d62828;
  transform: scale(1.05);
}

/* Rodapé */
footer {
  padding: 20px;
  text-align: center;
  background-color: #212529;
  font-size: 0.9em;
  color: #ccc;
}

  